body {
    background-color: black;
}

#heading {
    display: block;
    color: white;
    text-align: center;
    padding: 50px 0px 100px;
}

#my-posts {
    display: block;
    color: white;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50%;
    width: 50%;
}

h1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h5 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h6 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}